{% extends 'todo/base.html' %}
{% load static %}
{% block content %}

<style>
    /* STRUCTURE */
    a{
        display: inline-block;
    }  

    .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 8px;
    }

    #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
    text-align: center;
    }

    #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    }

    /* FORM TYPOGRAPHY*/

    input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    }

    input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    }

    input[type=text]:placeholder {
    color: #cccccc;
    }

    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
    }

    .underlineHover:hover {
    color: #0d0d0d;
    }

    .underlineHover:hover:after{
    width: 100%;
    }



    /* OTHERS */

    *:focus {
        outline: none;
    } 

    #icon {
    width:35%;
    margin: 8px 0;
    }

    .wrapper{
        margin-top: 10rem;
        margin-bottom: 6.5rem;
    }
    .create_container{
    margin: 1rem 0;
    padding: 0 2rem;
    }

    i {
    margin-left: -35px;
    cursor: pointer;
    position: absolute;
    bottom: 210px;
    }

</style>
<main class="login-user">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{% static 'images/list-icon.png' %}" id="icon" alt="User Icon" />
                </div>
                {% if error_message %}
                    <div class="alert alert-danger text-center" role="alert" style="display: inline-block;">
                        {{error_message}}
                    </div>
                {% endif %}
                {% for message in messages %}
                    <div class="alert alert-success text-center" role="alert" style="display: inline-block;">
                        {{message}}
                    </div>
                {% endfor %}
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.password}}
                    <i class="far fa-eye" id="togglePassword"></i>
                    <div class="create_container">
                        <input type="submit" class="btn btn-lg btn-block btn-primary text-uppercase" value="sign in">
                    </div>
                </form>
            
                <div id="formFooter">
                    <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
                    <br>
                    <a class="underlineHover" href="{% url 'signup' %}">Create Account</a>
                </div>
            
            </div>
        </div>
</main>
<script>
    document.getElementById('id_username').placeholder="username";
    document.getElementById('id_password').placeholder="password";
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
    });
</script>
{% endblock %}